<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/download">Download</a></li>
	        		<li><a href="/tool">Tools</a></li>
	        		<li><a href="/ext">External Links</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>contact: <a href="mailto:nguyenvo@umich.edu">nguyenvo@med.umich.edu</a></li>
				</ul>
			</footer>
		</body>
	</html>