<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/download">Download Data</a></li>
	        		<li><a href="http://ec2-52-91-79-148.compute-1.amazonaws.com:3838/circRNA/">Query Data</a></li>
              <li><a href="/aboutus">About Us</a></li>                                                                                 
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>contact: <a href="mailto:nguyenvo@umich.edu">nguyenvo@med.umich.edu</a></li>
				</ul>
			</footer>
		</body>
	</html>